.homepage 
{

}
.homepage .upper
{
    background-color: #ffffff;
    width: 100vw;
    padding: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    border-bottom: 3px solid #f2b42b;
    padding-left: 0px;
    z-index: 1030;
}
.homepage .upper .part
{
    display: flex;
    flex-direction: row;
}
.homepage .upper .part img
{
    margin-right: 10px;
}
.homepage .upper h4
{
    font-size: 1rem;
    letter-spacing: 1px;
    color: #121e1e;
}
.homepage .upper button
{
    margin-right: 40px;
    background-color: #121e1e;
    border: none;
    padding: 7px;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
}
.homepage .middle
{
    margin-top: 80px;
    padding-top: 10px;
}
.homepage .middle button
{
    background-color: white;
    border: 2px solid #121e1e;
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    margin-right: 10px;
    font-weight: bolder;
}
.homepage .middle .highlight
{
    background-color: #121e1e;
    color: white;
}

.homepage .lower
{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.homepage .lower .eachmedia
{
    margin: 20px;
    width: 20%;
    margin-bottom: 4rem;
    margin-right: 0em;
    padding-left: 0%;
    padding-bottom: 20px;
    
}
.homepage .lower .eachmedia .wrapper
{
    overflow: hidden;
}
.homepage .lower .eachmedia img ,.homepage .lower .eachmedia video
{
    width: 100%;
    height: 220px;
    background-color: black;
}
.homepage .lower .eachmedia img
{
    height: auto;
}
.homepage .lower h4
{
    color: black;
    font-size: 1.0rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 24px;
    background-color: rgba(242, 180, 43, 0.1);
    padding: 10px;
    border-radius: 5px;
}
.homepage .lower .eachmedia button
{
    background-color: #121e1e;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
    border-bottom: 3px solid #f2b42b;
    margin: 5px;
}

.positionmodal
{
    position: fixed;
    top: 10vh;
    left: 10vw;
    right: 10vw;
    bottom: 10vh;
    background-color: #121e1e;
    border: 2px solid #f2b42b;
    border-radius: 5px;
    z-index: 1039;
}
.positionmodal button
{
    background-color: #f2b42b;
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: black;
    font-weight: bolder;
    margin: 10px;
}
.positionmodal .special
{
    background-color: white;
    color: black;
}
.positionmodal #close
{
    float: left;
}
.positionmodal #download
{
    padding: 12px;
    font-size: 1.3rem;
    margin-top: 30px;
}

@media only screen and (max-width: 768px) {
    .homepage .lower .eachmedia
    {
        width: 70%;
    }
    .homepage .upper
    {
        flex-direction: column;
        height: 140px;
        z-index: 1020;
    }
    .homepage .upper button
    {
        margin: 5px;
    }

}