.login
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}
.login .part h3
{
    color: #121e1e;
}
.login .loginregion
{
    background-color: #121e1e;
    padding: 50px;
    border-radius: 10px;
    width: 40vw;
    display: flex;
    flex-direction: column;
    border-bottom: 6px solid #f2b42b;
}
.login .loginregion h4
{
    letter-spacing: 1px;
}
.login .loginregion input
{
    width: 50%;
    margin-left: 25%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.login .loginregion button
{
    width: 53%;
    margin-left: 25%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bolder;
}